.ProfileData {
  position: relative;
}

.ProfileData h2 small {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.ProfileData p {
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

.ProfileData .spinner {
  position: absolute;
  top: 290px;
  right: 10px;
  fill: black;
}
